{% extends 'base.html' %}

{% block chart %}

<html>
<head>

<!--    HighChart    -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        Highcharts.chart('container', {

    title: {
        text: 'Currency Ratio'
    },

    subtitle: {
        text: '(base: USD)'
    },

    yAxis: {
        title: {
            text: 'Ratio',
        },
        floor: 0,
        ceiling: 140,
    },

    xAxis: {
        type: 'text',
        labels: {
            enabled:false,
        }
    },

    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            pointStart: 1,
            pointInterval: 1,
            }
        },

    series: [
    {
        name: 'Euro',
        data: [{{display_euro}}]
    },
    {
        name: 'Real',
        data: [{{display_real}}]
    },
    {
        name: 'Yen',
        data: [{{display_yen}}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
    });
</script>
<div id="container" style="width:100%; height:400px;"></div>
</body>
</html>

{% endblock %}

{% block content %}

<table class="table table-striped table-hover table-bordered text-center table-sm">
    <thead>
    <tr class="table-dark">
        <th scope="col">Date</th>
        <th scope="col">Euro (EUR)</th>
        <th scope="col">Real (BRL)</th>
        <th scope="col">Yen (JPY)</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in all_rates %}
    {% if rate.date in date_list%}
    <tr>
        <th scope="row">{{ rate.date }}</th>
        <td>{{ rate.euro }}</td>
        <td>{{ rate.real }}</td>
        <td>{{ rate.yen }}</td>
        <br/>
    </tr>
    {% endif %}
    {% endfor %}


    </tbody>
</table>

<br/>
<h4>To access the API rest:</h4>
<ul>
    <li>visit "https://djangocurrencies.herokuapp.com/api/rates"</li>
</ul>
<!--<p>"https://djangocurrencies.herokuapp.com/api/rates"</p>-->
<br/>
<h4>To view the database:</h4>
<ul>
    <li>visit "https://djangocurrencies.herokuapp.com/admin"</li>
    <li>to access it, log user and admin as 'admin'.</li>
</ul>
<!--<p>"https://djangocurrencies.herokuapp.com/admin"</p>-->
<!--<p>to access it, log user and admin as 'admin'.</p>-->
{% endblock %}

