{% extends 'base.html' %}

{% block chart %}

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Euro', 'Real', 'Yen'],
          {% for rate in all_rates %}
            {% if rate.date in date_list%}
                ['{{rate.date}}', {{rate.euro}}, {{rate.real}}, {{rate.yen}}],
            {% endif %}
          {% endfor %}

        ]);

        var options = {
          title: 'Currency Ratio (base: USD)',
          curveType: 'function',
          legend: { position: 'bottom' },
          vAxis: { ticks: [1,5,10,30,50,70,90,110,130] }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }

    </script>
</head>
<body>
<div id="curve_chart" style="width: 1200px; height: 500px"></div>
</body>
</html>

{% endblock %}

{% block content %}

<br/>
<table class="table table-striped table-hover table-bordered text-center table-sm">
    <thead>
    <tr class="table-dark">
        <th scope="col">Date</th>
        <th scope="col">Euro (EUR)</th>
        <th scope="col">Real (BRL)</th>
        <th scope="col">Yen (JPY)</th>
    </tr>
    </thead>
    <tbody>
    {% for rate in all_rates %}
    {% if rate.date in date_list%}
    <tr>
        <th scope="row">{{ rate.date }}</th>
        <td>{{ rate.euro }}</td>
        <td>{{ rate.real }}</td>
        <td>{{ rate.yen }}</td>
        <br/>
    </tr>
    {% endif %}
    {% endfor %}


    </tbody>
</table>

{% endblock %}

